@import  '../../GlobalFiles/Global.sass'

.ContainerHome
    .Logo
        &__image
            svg
                height: 100px
                width: 200px
        h1
            font-weight: bold
            text-align: center
            font-size: 40px
            color: $gray-700
    .welcome
        // border: 1px solid red
        padding: 20px 40px
        margin: 40px 0
        // @media screen and (max-width: 800px)
        p
            font-size: 15px
            color: $gray-700
            &.question
                font-size: 15px
                color: $teal
                font-weight: bold
    .button
        display: flex
        justify-content: center
